.py-3{
    background-color: #020268;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    /* list-style-type: none; */
    height: 150px;
}

















/* .m-0{
    width: 1500px;
    text-align: center;
    margin: 0px;
    display: flex;
    list-style-type: none;
    background-color: black;
    font-weight: bold;
     color: white; 
    height: 200px;
    padding: 80px;
    font-size: larger;
} */